#recherche{
  margin: 15px;
  padding: 15px;
 
}
.moviesGrid{
  display: grid !important;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 6px;
  padding: 10px;
  margin: 10px;
}

.moviesGrid img{
  width: 100%;
}
footer {
  text-align: center;
  bottom: 0;

}

#myCarousel {
  margin-top: 10px;

}

.carousel-item img {
  width: 100%;
 
}
@media screen and (max-width: 600px)
{
  .moviesGrid{
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    padding: 15px;
    margin: 15px;
  }

}
@media screen and (max-width: 600px)
{
  .filmDetail{
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
    padding: 15px;
    margin: 15px;
    display: flex;
    justify-content: center;
  }
  .splot{
    margin-top: 320px;
    display: block;
  }
}
.about{
  text-align: center;
  color: #fff;
  font-family: "cursive";
}
.about ul li{
  list-style: none;
}
.nav-link:hover {
  font-size: 30px;
  color: #fff !important;
}
.nav-link {
 
  color: #3F3F3F !important;
}
.filmDetail img{
  width: 400px;
  margin-left: 200px;
}
.filmDetail{
  font-size: 1.5em;
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  color: #fff;
}
.rec{
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;


}
.filmDetail p{
  margin-right: 180px;
}
.vote{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #000;
  border:5px solid chartreuse;
  border-radius: 100%;
  color: #fff;
}
.navbar-brand{
  padding: 10px;
}
.navbar-brand h1{
  font-size: 2em;
  color: #fff;
  font-family:"fantasy";
}
.detail{
 
  width: 400px;
}
h5{
  color: #fff;
}
.form-group{
  color: #fff;
}
footer{
  color: #fff;
  font-size: 2em;
}
hr{
  background-color: #fff;
}


